

body{
  background-color: rgb(237, 251, 255);
  font-family: Arial, Helvetica, sans-serif;
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.color-display{
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.274);
  transition: 0.3s ease;
}

input[type="color"]{
  border: none;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  width: 70px;
  height: 40px;
  padding: 3px;
  
}